@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

html {
  background: #f3f4f6;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#root {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
